@using CalendarPetProject.BusinessLogic.Profile
@using CalendarPetProject.ViewModels.CustomerData
@inject ExperienceLevelHandler ExperienceHandler
@model UserAccountData

@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/User/Profile.css" asp-append-version="true" />

@if (@Model != null )
{
     <div class="profile-stats">
         <div>
            <p>@Model.UserPrivateData.FirstName @Model.UserPrivateData.SecondName</p>
            <p>@Model.UserPrivateData.UserName</p>
            <p>More about this profile <button>....more</button></p>
         </div>
         <div>
            @if (@Model.UserProfileData.ProfileImage != null)
            {
                <img src="@Model.UserProfileData.ProfileImage" alt="ProfileImage"/>
            }
            else
            {
                <div class="rounded-circle user-avatar" id="avatar-background">
                    <p>@Model.UserPrivateData.FirstName[0]@Model.UserPrivateData.SecondName[0]</p>
                </div>
            }
         </div>
     </div>
    <div class="profile-stats">
        <p>Your profile level</p>
        <div class="skill">
            <div class="outline">
                <div class="inline">
                    <p>
                        @if (@Model.UserProfileData != null)
                        {
                            <p>LVL: @Model.UserProfileData.ProfileLevel</p>
                        }
                        else
                        {
                            <p>Profile level</p>
                        }
                    </p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="exp-indicator"
                 version="1.1"
                 viewBox="0 0 200 200"
                 width="300"
                 height="300">

                <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#DA22FF" />
                        <stop offset="100%" stop-color="#9733EE" />
                    </linearGradient>
                </defs>
                <circle cx="100" cy="100" r="75" stroke="url(#GradientColor)" stroke-width="20" fill="none" stroke-linecap="round" />
            </svg>
            @if (@Model.UserProfileData != null)
            {
                <p>@Model.UserProfileData.Experience / @ExperienceHandler.ReturnNeededAmmountOfExperience(@Model.UserProfileData.Experience)</p>
            }
        </div>

    </div>

}
else
{
    <form asp-controller="Account" asp-action="UserPage">
        <div class="card-container">
            <div class="card">
                <input asp-for="CustomerBodyParameters.Age" type="number" asp />
            </div>
        </div>
    </form>
}
<script src="~/js/User/Profile.js" defer></script>