@using CalendarPetProject.ViewModels.Contact;
@using CalendarPetProject.Data.FilterData;
@model ContactSupportViewModel;

@{
    ViewData["ContactSupport"] = "Contact Support";
}
<link rel="stylesheet" href="~/css/ContactSupport/SupportPage.css" asp-append-version="true" />

<div class="submit-form-wrapper">
    <div class="submit-form-content">
        <div class="flex-column gap-0">
            <h1>How can we help you?</h1>
            <h4>Submit your request</h4>
        </div>
        <form asp-action="ContactSupport" asp-controller="CustomerSupport" method="post">
            <div class="SupportCard">
                <div class="FieldFlex">
                    <div class="SupportField">
                        <label asp-for="Category">Choose a problem category:</label>
                        <select class="SupportInput" name="category" asp-for="Category">
                            <option value="@Category.ReportBug">@Category.ReportBug</option>
                            <option value="@Category.PaymentIssue">@Category.PaymentIssue</option>
                            <option value="@Category.TechnicalIssues">@Category.TechnicalIssues</option>
                            <option value="@Category.FoodDatabaseIssues">@Category.FoodDatabaseIssues</option>
                            <option value="@Category.Privacy">@Category.Privacy</option>
                            <option value="@Category.Other">@Category.Other</option>
                        </select>
                    </div>
                    <div class="SupportField">
                        <label asp-for="UserEmailAddress" class="form-label"></label>
                        <input class="SupportInput" asp-for="UserEmailAddress" placeholder="Example@gmail.com">
                        <span asp-validation-for="UserEmailAddress" class="text-danger"></span>
                    </div>

                    <div class="SupportField">
                        <label asp-for="RequestTitle" class="form-label"></label>
                        <input class="SupportInput" asp-for="RequestTitle" placeholder="Title">
                    </div>

                    <div class="SupportField">
                        <label asp-for="RequestDescription" class="form-label"></label>
                        <textarea placeholder="Type your message" asp-for="RequestDescription" class="SupportInputMessage"></textarea>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-success w-50 p-2 submit-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
